<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styl.css">
    <title>Document</title>
</head>
<body>
    <h1>Hello </h1>
    <p>hello hello hello</p>
    <p>12*8</p>

    <!--Get's evaluated has python code -->
    <p>{{12*8}}</p>
     
    <!--goes to url which contains footer method-->
    <a href="{{ url_for('footer') }}">Goto</a>
    
</body>
</html>