h1, h4, h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.btn{
    display: flex;
    text-align: center;
    justify-content: center;
}

button{
    padding: 50px;
    border-radius: 50%;
    /* margin-left: 35%; */
    cursor: pointer;
    background-image: linear-gradient(180deg, red, yellow);
    border:none;
}

.fun {
    background: linear-gradient(to left, #DD5E89, #F7BB97); 
}