body{
    background-color: rgb(235, 144, 70);
}

h1{
    color: chocolate;
    font-size: 100px;
}


img:hover{
    background-color: crimson;
    border-radius: 10px;
}



.ramen{
    background-color: blueviolet;
}

.soup{
    background-color: yellow;
}

.radius{
    border-radius: 100px;
}

#heading{
    color: violet;
}