
/*********************************TAG SELECTORS******************************************/

h1{
    color: #66BFBF;
}

mark{
    background-color:rgb(205, 43, 226);

}

/*********************************CLASS SELECTORS****************************************/