#container{
    width: 95vw;
    height: 60vh;
    margin: 0 auto;
    background-color: whitesmoke;
    outline: 8px solid #4844D4;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    /* grid-auto-flow: column; */
    grid-area: 2 / 1 / 5 / 2 ;

}

.item{
    width: 100%;
    background-color: #FFC100 ;
    text-align: center;
    border:  1.2px solid black;
    font-size: 100%;
    font-weight: bold;
}